*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{    
    font-family: 'Poppins', sans-serif;
    background-color: rgb(4, 26, 53);
}
.container{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}
.countries{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 70px;
    margin-bottom: 30px;
    margin-left: 40px;
}
.card{
    width: 300px;
    height: 430px;
    margin-top: 30px;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
}
.card img{
    width: 250px;
    /* border-radius: 5px; */
    height: 200px;
    margin-bottom: 10px;
    margin-left: 12px;
}
.card h3, h4{
    margin-bottom: 10px;
    opacity: 0.7;
    font-size: 1.2rem;
    text-align: center;
}
#show{
    width: 100px;
    padding: 12px;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 1.2rem;
    margin-bottom: 20px;
    transition: all 2s;
}
#show:hover{
    background-color: red;
    color: white;
}
#loading{
    background-color: transparent;
    width: 200px;
    height: 180px;
    margin-left: auto;
    margin-left: 530px;
    margin-top: 160px;
}
.modal{
    width: 1000px;
    margin-top: 100px;
    justify-content: space-between;
    height: 400px;
    padding: 20px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 1px solid white;
    gap: 20px;
}
.content{
    font-size: 1.5rem;
    margin-top: 100px;
    color: white;
}
.modal img{
    border: 1px solid white;
    width: 400px;
    height: 350px;
}
.close{
    width: 100px;
    height: 50px;
    padding: 12px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
}
#showBtn{
    width: 100px;
    padding: 10px;
    margin-left: 90px;
    background-color: transparent;
    border: none;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    font-size: 1rem;
    transition: all 0.5s;
}
#showBtn:hover{
    background-color: white;
    color: black;
}
.card-modal{
    display: none;
    justify-content: space-between;
    gap: 50px;
}